<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website bán Giày</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../LayoutOgani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../LayoutOgani/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="../../LayoutOgani/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="../LayoutOgani/img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Logout</a>
            </div>
        </div>
        
        <div id="mobile-menu-wrap"></div>
        
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            
                            <div class="header__top__right__auth">
                                @* <a href="#"><i class="fa fa-user"></i> Login</a> *@
                                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="Index"><img src="../LayoutOgani/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="Index">Home</a></li>
                            <li><a asp-controller="Admin">Chuyển sang admin</a></li>
                            
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("LoaiSpMenu")
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Danh mục sản phẩm</h2>
                    </div>
                    
                </div>
            </div>
            <div class="row featured__filter">

                @RenderBody()




            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
    <!-- Banner End -->
    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->
    <!-- Blog Section Begin -->
   <!-- Blog Section End -->
    <!-- Footer Section Begin -->

    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../LayoutOgani/js/jquery-3.3.1.min.js"></script>
    <script src="../LayoutOgani/js/bootstrap.min.js"></script>
    <script src="../LayoutOgani/js/jquery.nice-select.min.js"></script>
    <script src="../LayoutOgani/js/jquery-ui.min.js"></script>
    <script src="../LayoutOgani/js/jquery.slicknav.js"></script>
    <script src="../LayoutOgani/js/mixitup.min.js"></script>
    <script src="../LayoutOgani/js/owl.carousel.min.js"></script>
    <script src="../LayoutOgani/js/main.js"></script>



</body>

</html>